@model HandasatTochnaProgect2.Models.User
@{
    ViewData["Title"] = "DeleteUser";
}


<form action="/Register/DeleteUser" method="post">
    <div>
        <table align="center">
            <tr>
                <td>User Name</td>
                <td><input type="text" id="userName" name="userName" asp-for="userName" placeholder="User name"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" id="password" name="password" asp-for="password" placeholder="Password"></td>
            </tr>
            <tr>
                <td><button type="submit">login</button></td>
                <td><button type="reset">reset</button></td>
            </tr>
        </table>
    </div>
</form>

@if (ViewBag.isDeleted != null)
{
    <h2>@ViewBag.isDeleted</h2>
}

<img src="~/images/hogwarts-castle_2.jpg" style="width:100%; height:70%" class="center" />

