@{
    ViewData["Title"] = "Avatar";
}

<ul>
    <div class="col">
        @for (int i = 0; i < ViewBag.avatarImage.Count; i++)
        {
            <img src="@ViewBag.avatarImage[i]" class="item_image row"/>
        }
    </div>

</ul>